<!-- kanban-board.component.html -->

<button mat-raised-button color="primary" style="margin:20px" (click)="addTodo=true">Create todo</button>

<div class="addtodo" *ngIf="addTodo" style="padding: 12px; border:1px solid black; margin: 10px; display: flex; width: max-content;">
    <mat-form-field style = 'margin: 10px;'>
        <mat-label>Task</mat-label>
        <input type="text" matInput [(ngModel)]="currenttodo.name">
    </mat-form-field>
    <mat-form-field style = 'margin: 10px;'>
        <mat-label>Description</mat-label>
        <input type="text" matInput [(ngModel)]="currenttodo.description">
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin:20px" (click)="addTodoItem()">Add</button>
    <button mat-raised-button color="warn" style="margin:20px" (click)="addTodo=false">Cancel</button>

</div>
<div class="kanban-container">
  <div cdkDropList
       class="kanban-list"
       #todoList="cdkDropList"
       [cdkDropListData]="todo"
       (cdkDropListDropped)="onDrop($event)"
       cdkDropList
       id="0"
       [cdkDropListConnectedTo]="[doneList, progressList]"
       
       >
    <h2>Todo</h2>
    <div *ngFor="let task of todo; let i = index" cdkDrag class = 'item' > 
        <strong>{{ task.name }}</strong> : {{task.description}}  
        <mat-icon (click)="removeItem(i, 0)" style="float: right; align-self: center;" color="warn">cancel</mat-icon>
    </div>
  </div>

  <div cdkDropList
       class="kanban-list"
       #progressList="cdkDropList"
       [cdkDropListData]="inProgress"
       (cdkDropListDropped)="onDrop($event)"
       id="1"
       [cdkDropListConnectedTo]="[doneList, todoList]"
       >
    <h2>In Progress</h2>
    <div *ngFor="let task of inProgress; let i = index" cdkDrag class = 'item'> <strong>{{ task.name }}</strong> : {{task.description}}          <mat-icon (click)="removeItem(i, 1)" style="float: right; align-self: center;" color="warn">cancel</mat-icon>
    </div>
  </div>

  <div cdkDropList
       class="kanban-list"
       [cdkDropListData]="done"
       #doneList="cdkDropList"
       id="2"
       (cdkDropListDropped)="onDrop($event)"
       [cdkDropListConnectedTo]="[todoList, progressList]"
       >
    <h2>Done</h2>
    <div *ngFor="let task of done; let i = index" cdkDrag class = 'item'> <strong>{{ task.name }}</strong> : {{task.description}}         <mat-icon (click)="removeItem(i, 2)" style="float: right; align-self: center;" color="warn">cancel</mat-icon>
    </div>
  </div>
</div>
